
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 30px;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}


.articles-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}


.full-width {
    grid-column: 1 / -1; 
}

/* התאמה בסיסית לטאבלטים */
@media (max-width: 992px) {
    .grid-container, .articles-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* התאמה בסיסית לניידים */
@media (max-width: 600px) {
    .grid-container, .articles-grid {
        grid-template-columns: 1fr;
    }
}